/* 
.container{
    background-color: rgb(241, 211, 211);
    border-style: solid;
    border-radius: 10px;
    border-color: lightslategray;
} */

.card{
    width: 40%;
    margin: auto;
}

p{
    font-style: italic;
    font-weight: 500;
}